body {
	font-size: 16px;
}

.board {
	margin: 100px auto 50px auto;
	text-align: center;
	width: 405px;
	max-width: 90%;
	font-size: 0;
	position: relative;
	img.grid {
		width: 100%;
	}
	img.robot {
		position: absolute;
		top: 2%;
		&.x-axis-0 {
			left: 1%;
		}
		&.x-axis-1 {
			left: 21%;
		}
		&.x-axis-2 {
			left: 41%;
		}
		&.x-axis-3 {
			left: 61%;
		}
		&.x-axis-4 {
			left: 81%;
		}
		&.y-axis-4 {
			top: 2%;
		}
		&.y-axis-3 {
			top: 22%;
		}
		&.y-axis-2 {
			top: 42%;
		}
		&.y-axis-1 {
			top: 62%;
		}
		&.y-axis-0 {
			top: 82%;
		}
		&.pos-NORTH {
			transform: rotate(180deg);
		}
		&.pos-WEST {
			transform: rotate(90deg);
		}
		&.pos-EAST {
			transform: rotate(270deg);
		}
	}
}

.controls {
	max-width: 405px;
	margin: 0 auto;
}

.form {
	margin-top: 25px;
	label {
		display: block;
		margin: 15px 0;
	}
}

