<div>

	<div class="board">
		<img src="images/5x5grid.png" class="grid" alt="game board" />
		<img src="images/robothead.png" class="robot x-axis-{{xAxis}} y-axis-{{yAxis}} pos-{{facing.id}}" alt="robot" />
	</div>

	<div class="controls">
		<button ng-click="setPlace = !setPlace">Place</button>
		<button ng-click="move()" ng-disabled="unblock!=true">Move</button>
		<button ng-click="left()" ng-disabled="unblock!=true">Left</button>
		<button ng-click="right()" ng-disabled="unblock!=true">Right</button>
		<button ng-click="report()" ng-disabled="unblock!=true">Report</button>

		<div class="form" ng-show="setPlace">
			<label>X axis: <input type="number" min="0" max="4" ng-model="xAxis" /></label>
			<label>Y axis: <input type="number" min="0" max="4" ng-model="yAxis" /></label>
			<label>Facing: <select id="facing" ng-model="facing" ng-options="c as c.label for c in values"></select></label>
			<button ng-click="valuesEntered()">done</button>
		</div>

		<div ng-show="showPosition">
			<p>{{xAxis}},{{yAxis}},{{facing.id}}</p>
		</div>
	</div>
</div>